:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f3f3f3;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #b9b9b9;
}

.header {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.container form {
    padding: 0px 40px;
}

.text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0px;
}

.text_field input {
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position:absolute;
    top: 50%;
    left:5px;
    color: #adadad;
    transform: translateY(-50%);
    transition: .5s;
    pointer-events: none;
}

.text_field span::before{
    content: " ";
    position: absolute;
    top:40px;
    left: 0px;
    width: 0;
    height: 2px;
    background: #007fe7;
    transition: .5s;
}
.text_field input:focus ~ label,.text_field input:valid ~ label{
    top: -5px;
    color: #007fe7;
}

.text_field input:focus ~ span::before,.text_field input:valid ~ span::before{
    width: 100%;
    color: #007fe7;
}

.forgot_pass{
    margin: -5px 0px 20px 5px;
}
.forgot_pass a{
    text-decoration: none;
    color: #a6a6a6;
    cursor: pointer;
}

.forgot_pass a:hover{
    text-decoration: underline;
}

.signup_link{
    margin: 30px 0px;
    text-align: center;
    color: #666666;
}

.signup_link a{
    color: #007fe7;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

.btn-image{
    width: 20px;
    padding: 5px;
}

.btn_google_Login{
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    cursor: pointer;
    outline: none;
    border:1px solid #adadad;
}

/* Style Sheet for Registration Form */

.reg-body{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-container{
    position:relative;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #b9b9b9;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: #333;
}

.form .input-box input, .select-container{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0, 15px;
    margin-top: 8px;
    color: #707070;
}

.input-box input:focus{
    border: 1px solid #007fe7;
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.form .gender-container{
    margin-top: 30px;
}

.gender-container h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender{
    column-gap: 5px;
}

.gender label{
    color: #707070;
}

.form :where(.gender input, .gender label){
    cursor: pointer;
}

/* .address :where(input, .select-container){
margin-top: 15px;
} */

.select-container select{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: #707070;
    background-color: #fff;
    border-radius: 8px;
}

.form .submit-btn{
    margin-top: 30px;
}

.submit-btn{
    height: 55px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: #fff;
    background-color: #007fe7;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.submit-btn:hover{
    background-color: #005da8;
}

input:required::before{
    content: "*";
    color: red;
}

/* Registration form responsive media query */

@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender){
        row-gap: 15px;
    }
}
